.big-box{
    margin-top: 20vh;
    width: 100vw;
    height: 80vh;
}
.login-page{
    margin: auto;
    border: 1px solid gray;
    border-radius: 30px;
    width: 35%;
    height: 70%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fundoo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 1.5vw;
}
.fundoo-logo{
    width: 60%;
}

.cred{
    width: 80%;
}
.log{
    width: 85%;
}
.login-name{
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.forgot-password{
    width: 85%;
    float: left;
}
.signup-and-button{
    margin-top: 3%;
    display: flex;
    width: 70%;
}
.submit-login{
    float: right;
}
.anchor{
    width: 50%;
}
