*{
    margin: 0;
    padding: 0;
}
.loginPage{
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.log{
    margin: 10px
}
.cred{
    width: 27vw;
}
.forgot-password{
    margin-left: 19vw;
}
.signup-and-button{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}