.total-page{
    margin-top: 10vh;
    width: 100vw;
    height: 90vh;
}
.in-box{
    margin: auto;
    width: 55%;
    height: 90%;
    display: flex;
    border: 1px solid gray;
    border-radius: 30px;
}
.sign-up{
    width:85%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

}
.google-logo-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 37%;
}  
.fundoo-image{
    width: 75%;
}
.name{
    display: flex;
    width: 77%;
}

.email{
    margin-top: 1%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-box, .email{
    margin-right: 2%;
}
a{
    color: blue;
    text-decoration: none;
}
.login-and-button{
    display: flex;
    width: 77%;
    padding-bottom: 1%;
    justify-content: space-between;
}
@media (max-width : 780px) {
    .google-logo-box{
        display: none;
    }
    .in-box{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 80%;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}